.mynavbar{
        background-color: #007095;
    }
.link-type {
    color: #FFFFFF;
}
.link-type:hover{
    color: #FFFFFF;
    background-color: #245269;
}
.link-from-search{
    color: #003f54;
}
.for-padding{
        padding-top: 0px;
        padding: 0px;
        padding-bottom: 50px;

    list-style-type: none;
    }
ul{
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

.dark{
    background-color: rgba(0, 0, 0, 0.57);
    color: #faffff;
}

.curr_page{
    background-color: rgba(0, 0, 0, 0.16);
}

.nav-view{
    color: #000;
}

.link-type-dark {
    color: #000;
}
.content{
    word-wrap: break-word; -moz-box-shadow: 0px 0px 20px #000000;
    -webkit-box-shadow: 0px 0px 20px #000000;
    box-shadow: 0px 0px 20px #000000;
    padding-top:20px;
}

.liquid .next {
    display: block;
    height: 126px;
    width: 64px;
    background-image: url('../next.png');
    float: right;
    margin: 0px;
    padding: 0px;
}

.liquid .previous {
    display: block;
    height: 126px;
    width: 64px;
    background-image: url('../previous.png');
    float: left;
    margin: 0px;
    padding: 0px;
}

.page_group_horizontal{
    width: 630px;
}

.page_group_vertical{
    padding: 0px;
    width: 105px;
}

.inputBtnSection{
    display:inline-block;
    vertical-align:top;
    font-size:0;
    font-family:verdana;
}
.disableInputField{
    display:inline-block;
    vertical-align:top;
    height: 27px;
    margin: 0;
    font-size:14px;
    padding:0 3px;
}

.fileUpload {
	position: relative;
	overflow: hidden;
    border:solid 1px gray;
    display:inline-block;
    vertical-align:top;
}
.uploadBtn{
    display:inline-block;
    vertical-align:top;
    background:rgba(0,0,0,0.5);
    font-size:14px;
    padding:0 10px;
    height:25px;
    line-height:22px;
    color:#fff;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.for-span{
    font-size: 25px;
}
  li{
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
  }