<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href={% static "bootstrap/dist/css/bootstrap.css"%}>
    <link rel="stylesheet" href={% static "css/mystyles.css"%}>
    <script src={% static "js/jquery-2.1.4.js"%}></script>
    <script src={% static "js/jquery-ui-1.11.4/jquery-ui.min.js" %}></script>

</head>
<body>
<div class="col-md-10 center form-group col-md-offset-1">
<nav class="navbar navbar-default mynavbar">
  <ul class="nav navbar-right">
      <li>
          {% if user.is_authenticated %}
                <li><a href="/logout/" class="link-type"> Logout {{ user.username}} </a></li>
          {% else %}
                <li><a href="/login/" class="link-type"> Login </a></li>
          {% endif %}
      </li>
  </ul>
    <ul class="nav navbar-right">
        {% if user.is_staff %}
            <li>
                <a href="/admin/" class="link-type">Administration</a>
            </li>
        {% endif %}
    </ul>
    <ul class="nav navbar-right">
        {% if user.username %}
            <li>
                <a href="/editor//" class="link-type">Editor</a>
            </li>
        {% endif %}
    </ul>
    <ul class="nav navbar-right">
        {% if user.username %}
            <li>
                <a href="/my_projects/" class="link-type">My Projects</a>
            </li>
        {% endif %}
    </ul>
    <ul class="nav navbar-right">
            <li>
                <a href="/" class="link-type">Home</a>
            </li>
    </ul>
    <ul class="nav navbar-right">
            <li>
                <a href="/search-form/" class="link-type">Search</a>
            </li>
    </ul>
</nav>

<table class="table" style="margin-left: -10px">
    {% for obj in output %}
        <tr>
            <td>
                <a href="/view_mode/{{ obj.id }}"> {{ obj.project_name}}</a>
            </td>
        </tr>
    {% endfor %}
    {{ form.error }}
</table>


{% block login %}
{% endblock %}

{% block content %}
{% endblock %}

{% block search_form %}
{% endblock %}
</div>
</body>
</html>