{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% block content %}
    <link rel="stylesheet" href={% static "css/jquery-impromptu.css"%}>
    <link rel="stylesheet" href={% static "css/style-demo.css"%}>
    <div class="row">
        <div class="col-md-7">
            <h2 id_project = '{{ project.id }}'>
                {% trans "Site name:"%}
                <span id="change_site_name_block">
                    <span id="name_not_edit_span" name_project = '{{ project.project_name }}'>
                        {{ project.project_name }}
                        <button type="button" class="btn btn-link" id="edit_site_name_button">
                            {% trans "edit" %}
                        </button>
                    </span>
                </span>
            </h2>
        </div>
        <form class="col-md-5" action="" method="post" id="myform">
            {% csrf_token %}
            <div  style="visibility: hidden;width: 0px;height: 0px">{{ page_form.project }}</div>
            <label class="label label-info" style="font-size: 15px; margin-bottom: 5px">{% trans "Page name" %}</label>
            <div class="row">
                <div class="col-md-9">
                    <input class='form-control' style="margin-top: 1px" name="{{ page_form.page_name.name}}" />
                </div>
                <div class="col-md-3">
                    <button type="submit" style="margin-right: 10px; margin-top: 1px;" class="btn btn-primary navbar-right">{% trans "create" %}</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">

        <div class="col-md-4">
            <h1>{% trans "Tools" %}</h1>
            {% if pages %}
                <div class="jumbotron" style="border: solid 1px black; height: auto">
                    <ul class="form-group">
                        <li class="btn-primary btn btn-block form-group draggable-text" >{% trans "Text block"%}</li>
                        <li class="btn-primary btn btn-block form-group draggable-video" >{% trans "Video" %}</li>
                        <li class="btn-primary btn btn-block form-group draggable-gallery" >{% trans "Galery" %}</li>
                        <li class="btn-primary btn btn-block form-group draggable-raiting" >{% trans "Raiting" %}</li>
                    </ul>
                </div>
            {% else %}
                <div style="border: solid 1px black; height: 300px">
                    <h1 style="opacity: 0.4; text-align: center;">{%trans "Create page"%}</h1>
                </div>
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4 col-md-offset-5">
                    <div>
                        <input type="radio" class="dark {% if project.project_is_dark %}is_check{% endif %} view_theme" name="theme"
                               {% if project.project_is_dark %}checked{% endif %}/>
                        <label>{% trans "dark" %} </label>
                        <input type="radio" class="{% if project.project_is_dark %}is_check{% endif %} view_theme" name="theme"
                               {% if not project.project_is_dark %}checked{% endif %}/>
                        <label>{% trans "light" %}</label>
                    </div>
                    <div>
                        <input type="radio" class="view_menu horizontal" name="menu"
                               {% if project.project_menu_is_horizontal %}checked{% endif %}/>
                        <label>{% trans "horizontal" %} </label>
                        <input type="radio" class="view_menu" name="menu"
                               {% if not project.project_menu_is_horizontal %}checked{% endif %}/>
                        <label>{% trans "vertical" %}</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <a href="/view_mode/{{ project.id }}" type="submit" style="margin-top: 20px; margin-right: 10px;" class="btn btn-primary navbar-right">{% trans "view" %}</a>
                </div>
            </div>
            <div class="row work_space" style="padding-top: 17px;">
                {%if project.project_menu_is_horizontal %}
                    <div id="page_group" class="btn-group page_group_horizontal" role="group">
                        {% for page in pages%}
                            <button class="btn btn-primary page-select" id_page="{{ page.id }}">
                                {{ page.page_name }}
                                <span class="btn btn-xs glyphicon glyphicon-remove navbar-right"></span>
                            </button>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if pages %}
                    <div id="droppable"   class="col-md-10  jumbotron for-padding" style="border: solid 1px black; height: auto; min-height: 450px">
                    </div>
                {% else %}
                    <div class="col-md-10 "style="background-color: #FAFAFA; border: solid 1px black; height: auto; min-height: 450px">
                        <h1 style="opacity: 0.4; text-align: center;">{% trans "Create page"%}</h1>
                    </div>
                {% endif %}
                {% if not project.project_menu_is_horizontal %}
                    <div id="page_group" class="col-md-2 btn-group-vertical page_group_vertical" role="group">
                        {% for page in pages%}
                            <button class="btn btn-primary page-select" id_page="{{ page.id }}">
                                <span class="btn btn-xs glyphicon glyphicon-remove navbar-right"></span>
                                {{ page.page_name }}
                            </button>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="jcl-demo" >
        <div class="custom-container mouseWheelButtons">
            <a href="#" class="prev">&lsaquo;</a>
            <div class="carousel">
                <ul>
                    {% for image in images %}
                        <li class="draggable-img"><img src="{{ image.image.build_url }}" width=300 height=300 ></li>
                    {% endfor %}
                </ul>
            </div>
            <a href="#" class="next">&rsaquo;</a>
            <div class="clear"></div>
        </div>
    </div>

    {% for image in images %}
        <img src="{{ image.image.build_url }}" class="draggable-img" width=200 height=150 >
    {% endfor %}


{#    <div id="liquid1" class="liquid" style="width:500px;">#}
{#	<span class="previous"></span>#}
{#	<div class="wrapper">#}
{#		<ul>#}
{#            {% for image in images %}#}
{#			<li><img src="{{ image.image.build_url }}" width="100" height="100" alt="image 01" border="2" /></li>#}
{#            {% endfor %}#}
{##}
{#		</ul>#}
{#	</div>#}
{#	<span class="next"></span>#}
{#</div>#}
<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <script src={% static "js/sort.js" %}></script>
    <script src={% static "js/dragndrop.js" %}></script>
    <script src={% static "js/save-markdown.js" %}></script>
    <script src={% static "js/jquery.autogrowtextarea.js" %}></script>
    <script src={% static "js/jquery-impromptu.js" %}></script>
    <script src={% static "js/change_theme.js" %}></script>

    <script src={% static "js/change_menu.js" %}></script>
    <script src={% static "js/change_site_name.js" %}></script>

    <script src={% static "js/remove_page.js" %}></script>
    <script src={% static "js/select_page.js" %}></script>

    <script src{% static "js/script/jquery.easing-1.3.js" %}></script>
    <script src{% static "js/script/jquery.mousewheel-3.1.12.js" %}></script>
    <script src={% static "js/script/jquery.jcarousellite.js" %}></script>
    <script type="text/javascript">

        $(".mouseWheelButtons .carousel").jCarouselLite({
            btnNext: ".mouseWheelButtons .next",
            btnPrev: ".mouseWheelButtons .prev",
            mouseWheel: true,
            visible: 5
        });
    </script>
    <script type="text/javascript">
        $('#myform').submit(function(e) {
        this.submit();
        setTimeout(function() {
            window.location.href = '/editor/'+ $('h2').attr("id_project");
        }, 100);
        });
    </script>
    <script type="text/javascript" src={% static 'js/jquery.liquidcarousel.js'%}></script>
    <script type="text/javascript">
		$(document).ready(function() {
			$('#liquid1').liquidcarousel({height:129, duration:100, hidearrows:false});
		});
	</script>

    <script type="text/javascript" src={% static 'js/jquery.liquidcarousel.js'%}></script>
{% endblock %}

