{% extends "base.html" %}
{% block search_form %}
    <form action="/search/" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
    <p>You searched for: <strong>{{ query }}</strong></p>

    {% if projects %}
        <p>Found {{ projects|length }} result{{ projects|pluralize }}.</p>
        <ul>
            {% for project in projects %}
            <li>{{ project.username }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No result matched your search criteria.</p>
{% endif %}
{% endblock %}