{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% block content %}

    <div class="col-md-9">
        <div class="col-md-5">
            <table class="table table-bordered table-striped" style="margin-left: -10px">
                {% for obj in projects %}
                    <tr>
                        <td>
{#                            <form action='' method='post'>#}
{#                                {% csrf_token %}#}
                                <input type="hidden" class="proj_id" name='{{ delete_project.ids.name }}' value="{{ obj.id }}"/>
                                <a href="/editor/{{ obj.id }}/" class="select_project">{{ obj.project_name}}</a>
                                <span class="btn glyphicon glyphicon-remove navbar-right"></span>
{#                            </form>#}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <h1>{% trans "New project"%}</h1>
        <form action='' method='post' xmlns="http://www.w3.org/1999/html">
            {% csrf_token %}
            <label class="label label-info" style="font-size: 15px; margin-bottom: 5px">{% trans "Project name"%}</label>
            <input class='form-control' style="margin-top: 4px" name="{{ form.project_name.name}}" />
            <button type="submit" style="margin-top: 10px;" class="btn btn-primary navbar-right">{% trans "create"%}</button>
            <div style="visibility: hidden;">{{ form.project_user }}</div>
        </form>
    </div>
     <script src={% static "js/delete_proj.js"%}></script>
{% endblock %}