{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% load cloudinary %}
{% block content %}

    <div class="col-md-9">
        <div class="col-md-5">
            <table class="table table-bordered table-striped" style="margin-left: -10px">
                {% for obj in projects %}
                    <tr>
                        <td>
                            {#                            <form action='' method='post'>#}
                            {#                                {% csrf_token %}#}
                            <input type="hidden" class="proj_id" name='{{ delete_project.ids.name }}' value="{{ obj.id }}"/>
                            <a href="/editor/{{ obj.id }}/" class="select_project">{{ obj.project_name}}</a>
                            <span class="btn glyphicon glyphicon-remove navbar-right"></span>
                            {#                            </form>#}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-7">
            <div class="fotorama" data-allowfullscreen="true"  data-nav="thumbs"  data-width="100%"  data-ratio="16/9">
                {% for image in images %}
                    <img src="{{ image.image.build_url }}">
                {% endfor %}
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token%}
                <div style="opacity: 0">{{ img_form.user }}</div>
                {#        {{ img_form.image }}#}

                <div class="inputBtnSection">
                    <input id="uploadFile" class="disableInputField" placeholder="Choose File" disabled="disabled" />
                    <label class="fileUpload">
                        <input id="uploadBtn" type="file" name="{{ img_form.image.name }}" class="upload" />
                        <span class="uploadBtn">Add image</span>
                    </label>
                </div>

                <input type="submit" class="btn btn-default" value="Upload">
            </form>
        </div>
    </div>
    <div class="col-md-3">
        <h1>{% trans "New project"%}</h1>
        <form action='' method='post' xmlns="http://www.w3.org/1999/html">
            {% csrf_token %}
            <label class="label label-info" style="font-size: 15px; margin-bottom: 5px">{% trans "Project name"%}</label>
            <input maxlength="30" class='form-control' style="margin-top: 4px" name="{{ form.project_name.name}}" />
            <button type="submit" style="margin-top: 10px;" class="btn btn-default navbar-right">{% trans "create"%}</button>
            <div style="visibility: hidden;">{{ form.project_user }}</div>
        </form>
    </div>

    <style>

    </style>



    <script src={% static "js/delete_proj.js"%}></script>
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <script src={% static "js/sas.js" %}></script>
    <script src={% static "js/radirect_form.js"%}></script>


{% endblock %}