{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
{% csrf_token %}
        <h1 class="col-md-4" >Site name: {{project.project_name}}</h1>
        <h2 class="col-md-4" >Author: {{project.project_user.username }}</h2>
        {% if user.is_authenticated %}
        <div class="col-md-4">
            <a href="/editor/{{ project.id }}" type="submit" style="margin-top: 20px;" class="btn btn-primary navbar-right">editor</a>
        </div>
        {% endif %}
</div>
<div class="row">
    <div class="col-md-2 btn-group-vertical" role="group" style="margin-left: 15px; overflow-y: auto; padding: 0px; border: solid 1px black; width: 105px; height: 450px">
            {% for page in pages%}
                <button class="btn btn-primary page-select" id_page="{{ page.id }}">
                    {{ page.page_name }}
                </button>
            {% endfor %}
        </div>
    <div class="col-md-8 content" style="border: solid 1px black; height: auto; min-height: 450px" >

    </div>
</div>



 <script src={% static "js/jquery-2.1.4.js"%}></script>
 <script src={% static "js/jquery-ui-1.11.4/jquery-ui.min.js" %}></script>
 <script src={% static "js/view_mode.js" %}></script>

{% endblock %}