<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
{% load l10n %}
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href={% static "bootstrap/dist/css/bootstrap.css"%}>
    <link rel="stylesheet" href={% static "css/mystyles.css"%}>
    <script src={% static "js/jquery-2.1.4.js"%}></script>
    <script src={% static "js/jquery-ui-1.11.4/jquery-ui.min.js" %}></script>
    <script src={% static "bootstrap/js/dropdown.js" %}></script>
</head>
<body class="{% if project.project_is_dark %}dark{% endif %}">
<nav class="navbar navbar-default nav-view">
    <ul class="nav navbar-right">
        <li>
            {% if user == project.project_user or user.is_staff  %}
                <li><a href="/editor/{{ project.id }}" type="submit" class="link-type-dark">{%trans "editor"%} </a></li>
            {% endif %}
        </li>
    </ul>
    <ul class="nav navbar-right">
        <li>
        <li><a class="link-type-dark" href="javascript:history.back()" type="submit" >{%trans "back"%}</a></li>
        </li>
    </ul>
    <ul class="nav ">
        <li>
            <h5 class="col-md-3" style="padding-top: 5px; " >{% trans "Author:"%} {{project.project_user.username }}</h5>
        </li>
        <li>
            <h2 class="col-md-5" style="margin-top: 5px;" id_project = '{{ project.id }}'>{{project.project_name}}</h2>
        </li>

    </ul>
</nav>
<div >
    {% csrf_token %}

</div>
<div class="row">
    {% if project.project_menu_is_horizontal %}
        <div class="col-md-6 col-md-offset-3 btn-group" role="group" >
            {% for page in pages%}
                <span class="btn  page-select" id_page="{{ page.id }}">
                    {{ page.page_name }}
                </span>
            {% endfor %}
        </div>

        <div class="col-md-6 col-md-offset-3  content">
        </div>
    {% else %}
        <div class="col-md-2  col-md-offset-1" style="overflow: hidden">
            <table class="table" >
                {% for page in pages%}
                    <tr>
                        <td  style="cursor: pointer;" class="page-select" id_page="{{ page.id }}">
                            <div class="col-md-9" style="word-wrap: break-word" > {{ page.page_name }}</div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-6 content">
        </div>
    {% endif %}
</div>

<script src={% static "js/markdown-js-0.5.0/lib/markdown.js" %}></script>
<script src={% static "js/jquery-2.1.4.js"%}></script>
<script src={% static "js/jquery-ui-1.11.4/jquery-ui.min.js" %}></script>
<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
<script src={% static "js/view_mode.js" %}></script>
<script src={% static "js/likes.js" %}></script>
</body>
</html>