<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
{% load l10n %}
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href={% static "bootstrap/dist/css/bootstrap.css"%}>
    <link rel="stylesheet" href={% static "css/mystyles.css"%}>
    <script src={% static "js/jquery-2.1.4.js"%}></script>
    <script src={% static "js/jquery-ui-1.11.4/jquery-ui.min.js" %}></script>
    <script src={% static "bootstrap/js/dropdown.js" %}></script>
</head>
<body>
<div class="row">
    {% csrf_token %}
    <h1 class="col-md-4 col-md-offset-1" >{% trans "Site name:"%} {{project.project_name}}</h1>
    <h2 class="col-md-3" style="padding-top: 5px; " >{% trans "Author:"%} {{project.project_user.username }}</h2>
    <div class="col-md-3" style="padding-top: 10px;">
        {% if user == project.project_user or user.is_staff  %}
        <a href="/editor/{{ project.id }}" type="submit" style="margin-top: 20px; margin-left: 20px;"
           class="btn btn-primary navbar-right">{%trans "editor"%}</a>
        {% endif %}
         <a href="/" type="submit" style="margin-top: 20px;"
               class="btn btn-primary navbar-right">{%trans "home"%}</a>
    </div>
</div>
<div class="row">
    {% if project.project_menu_is_horizontal %}
        <div class="col-md-2 btn-group" role="group"
             style="margin-left: 100px;  border: solid 0px black; width: 850px; height: auto">
            {% for page in pages%}
                <button class="btn btn-primary page-select" id_page="{{ page.id }}">
                    {{ page.page_name }}
                </button>
            {% endfor %}
        </div>
        <div class="col-md-8 col-md-offset-1 {% if project.project_is_dark %}dark{% endif %} content"
             style="margin-left: 114px; border: solid 0px black; height: auto; min-height: 450px" >
        </div>
    {% else %}
        <div class="col-md-2 btn-group-vertical col-md-offset-1" role="group" style="width: 105px">
            {% for page in pages%}
                <button class="btn btn-primary page-select" id_page="{{ page.id }}">
                    {{ page.page_name }}
                </button>
            {% endfor %}
        </div>
        <div class="col-md-8 col-md-offset-1 {% if project.project_is_dark %}dark{% endif %} content" style="margin-left: 15px; border: solid 0px black; height: auto; min-height: 450px" >
        </div>
    {% endif %}
</div>

<script src={% static "js/markdown-js-0.5.0/lib/markdown.js" %}></script>
<script src={% static "js/jquery-2.1.4.js"%}></script>
<script src={% static "js/jquery-ui-1.11.4/jquery-ui.min.js" %}></script>
<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
<script src={% static "js/view_mode.js" %}></script>
<script src={% static "js/likes.js" %}></script>
</body>
</html>